{% extends 'page.html' %}
{% block 'yield' %}

<header class="Header">
  <a href="/" class="HeaderTitle">
    StreetLives NYC
  </a>

  <ul class="HeaderItems">
    <li class="HeaderItem"><a href='/' class="HeaderItem-link js-item js-map">Map</a></li>
    <li class="HeaderItem"><a href='/about' class="HeaderItem-link js-item js-about">About</a></li>
    <li class="HeaderItem"><a href='/privacy' class="HeaderItem-link is-selected js-item js-privacy">Privacy</a></li>
  </ul>
</header>
<div class="StaticPage">
  <p>
    Adipisicing voluptatibus explicabo saepe nam voluptas rem nihil. Culpa ut aut ut adipisicing aspernatur? Dolores nesciunt officiis dignissimos ex aspernatur illum placeat. Doloremque possimus cum sit voluptatum quibusdam debitis! Minus.
  </p>
  <p>
    Consectetur sequi ea itaque error corporis natus architecto cumque aliquam cumque? Accusantium unde sit sit doloribus animi rerum et. Voluptates cum iusto nostrum quaerat magnam ea. Aspernatur illum optio ullam.
  </p>
  <p>Lorem voluptatum nobis unde dolore odit? Consequatur odit labore dicta nemo laboriosam aliquid, quis, nemo repudiandae ipsa dolorum! Distinctio nulla expedita impedit maxime commodi non? Ducimus ullam incidunt quidem omnis!</p>
  <p>
    Consectetur sequi ea itaque error corporis natus architecto cumque aliquam cumque? Accusantium unde sit sit doloribus animi rerum et. Voluptates cum iusto nostrum quaerat magnam ea. Aspernatur illum optio ullam.
  </p>
</div>
{% endblock %}
