.Page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0, .5);
  z-index: 1000;
}

.Page.is-hidden {
  display: none;
}

.Page-inner {
  position: relative;
  width: 700px;
  height: 500px;
  background: #FFF;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 25px 10px 20px 20px;
  box-sizing: border-box;
}

.Page-content {
  width: 100%;
  height: 450px;
  font-family: 'Open sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  overflow: auto;
}

.Page .scroll-pane {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.Page-content p {
  margin: 0 0 10px 0;
}
