<div class="Dialog-inner">
  <div class="Dialog-content">
    <h2><%- title %></h2>
    <p><%- text %></p>
  </div>
  <footer class="Footer">
    <button class="Button js-ok"><%- ok_button %></button>
  </footer>
  <button class="Button Button--close js-cancel">✕</button>
</div>

